In [ ]:
print ("Hello world")

In [8]:
~2

-3

In [9]:
~-2

1

In [10]:
3**5

243

In [11]:
5**3

125

In [24]:
import random
print ("choice([1, 2, 3, 5, 9]) : ", random.choice([1, 2, 3, 5, 9]))

choice([1, 2, 3, 5, 9]) :  3

In [15]:
5*3%3-2+3**2/3

1.0

In [16]:
3**2/3

3.0

In [17]:
67+3*(3+2)

82

In [18]:
5/3

1.6666666666666667

In [19]:
5//3

1

In [25]:
a=7
b=3.0
c=6
a+b

10.0

In [26]:
a+c

13

In [27]:
a*c

42

In [116]:
a=float(input("Enter side first side of triangle "))
b=float(input("Enter side second side of triangle "))
c=float(input("Enter side third side of triangle "))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5;
print ("area of triangle",area)

Enter side first side of triangle 5
Enter side second side of triangle 4
Enter side third side of triangle 3
area 6.0

In [102]:
#area of circle
r=input("Enter radius of circle")
pi=3.141
area=pi*(int)(r)*(int)(r)
print(area)

Enter radius of circle10
314.1

In [37]:
#area of circle
import math
r=10
area=math.pi*r*r
print(area)

314.1592653589793

In [49]:
'''
Multi line comment
goes here
'''
float(round(3.1234,2))

3.12

In [65]:
name='oinam singh'
age=35

print ("{} {}".format(name,age))

oinam singh 35

In [75]:
print (3*"oinam"+"\nsingh")

oinamoinamoinam
SINGH

In [76]:
print (len("My name is oinam singh"))

22

In [77]:
print ("My name is oinam singh".replace("oinam","Oinam"))

My name is Oinam singh

In [89]:
name="oinam Singh"
name=2*name+"\n"+3*name
name=name.replace("oinam","Oinam")
print(name)

Oinam SinghOinam Singh
Oinam SinghOinam SinghOinam Singh

In [97]:
#operator
a="hello"
b="world"
print (a!=b)

True

In [99]:
age=input("Enter your age")
print (age)

Enter your age33
33

In [110]:
#area of circle
r=float(input("Enter radius of circle "))
pi=3.141
area=pi*r**2
print(area)

Enter radius of circle 6
113.076

In [123]:
name = "oinam"
age = 23
height=5.5
print("%s is %d years old and height is %13.2f" % (name, age,height))
print("%r %s" % (123.2,name))

oinam is 23 years old and height is          5.50
123.2 oinam

In [135]:
varr="0123456789"
print(varr[0]) # starting from first character or index from 0
print (varr[-7]) # minus -1 means 9 the last character so -7 means 3
var="Oinam Singh"
print (var[:]) # it will print all
print (var[2:]) # it will start from the third location of the string
print (var[-2:]) #will start from the last
print (var[1:2]) #will start from the second and only one
print (var[1:5]) #will start from the second to five
print (var[:5]) #will start from the 0 to to five (include lower boundary and exclude upper boundary)

0
3
Oinam Singh
nam Singh
gh
i
inam
Oinam

In [179]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]

In [181]:
list3

In [139]:
list4=[list1,4]

In [140]:
list4

[['physics', 'chemistry', 1997, 2000], 4]

In [141]:
list5=[1,1,1]

In [142]:
list5

[1, 1, 1]

In [143]:
list1[0]

'physics'

In [147]:
list4[0][1:]

['chemistry', 1997, 2000]

In [152]:
list4[1]

4

In [153]:
list4[1]=5
list4[1]

5

In [154]:
list4

[['physics', 'chemistry', 1997, 2000], 5]

In [155]:
dic={1,"oinam"}

In [156]:
dic

{1, 'oinam'}

In [157]:
dics=[{'name':'oinam','age':35},{'name':'singh','age':23},{'name':'abc','age':18}]

In [158]:
dics

[{'name': 'oinam', 'age': 35},
 {'name': 'singh', 'age': 23},
 {'name': 'abc', 'age': 18}]

In [247]:
dic={'name':'oinam','age':35}
print(dic.keys())
print(dic.values())

dict_keys(['name', 'age'])
dict_values(['oinam', 35])

In [164]:
dic['name']='singh'
dic

{'name': 'singh', 'age': 35, 'oinam': 'singh'}

In [166]:
dic

{'name': 'singh', 'age': 35, 'oinam': 'singh'}

In [184]:
list3 = ["a", "b", "c", "d"]
print(list3.reverse())

None

In [188]:
list3 = ["a", "b", "c", "d"]
list2=list3.reverse()
list2

In [189]:
list2

In [190]:
list3

['d', 'c', 'b', 'a']

In [191]:
list2

In [192]:
list3.reverse()

In [193]:
list3

['a', 'b', 'c', 'd']

In [194]:
list2=list3.reverse()

In [195]:
list2

In [196]:
li=list3.reverse()

In [197]:
li

In [198]:
list3

['a', 'b', 'c', 'd']

In [199]:
li=list3

In [200]:
li

['a', 'b', 'c', 'd']

In [201]:
list3.reverse()

In [202]:
li

['d', 'c', 'b', 'a']

In [203]:
list3

['d', 'c', 'b', 'a']

In [204]:
li=list(list3)

In [205]:
li

['d', 'c', 'b', 'a']

In [206]:
list3.reverse()

In [207]:
list3

['a', 'b', 'c', 'd']

In [208]:
li

['d', 'c', 'b', 'a']

In [209]:
tup1=(1,2,3,4,5)

In [210]:
tup1

(1, 2, 3, 4, 5)

In [211]:
tup1[2]=41

TypeError: 'tuple' object does not support item assignment

In [212]:
max(tup1)

5

In [213]:
len(tup1)

5

In [215]:
min(tup1)

1

In [216]:
5 in tup1

True

In [217]:
tup2=(2,3,4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 2, 3, 4, 5, 6)

In [218]:
tup1

(1, 2, 3, 4, 5)

In [219]:
tup2

(2, 3, 4, 5, 6)

In [220]:
tup2[3:]

(5, 6)

In [230]:
set1={1,2,3}
set2={4,5,1}
set1.update(set2)

In [231]:
set1

{1, 2, 3, 4, 5}

In [223]:
set2={1,2,1}

In [224]:
set2

{1, 2}

In [225]:
set2={5,1,2,3,4,5}

In [226]:
set2

{1, 2, 3, 4, 5}

In [227]:
set2[2]=6

TypeError: 'set' object does not support item assignment

In [228]:
set2={2,3}

In [229]:
set2

{2, 3}

In [239]:
set2

{1, 4, 5}

In [238]:
set2

{1, 4, 5}

In [248]:
s=set()
s.add(2)
print(s)

{2}

In [249]:
s=set()
s.add(2)
s.add(3)
print(s)
s.remove(2)
print(s)

{2, 3}
{3}

In [261]:
name="Oinaddm"
surename="Singssh"
if name=="Oinam":
    print ("Welcome oinam")
elif surename=="Singh":
    print ("Singh")
else:
    print ("Guest")

Guest

In [263]:
sal=float(input("Enter salary "))
if sal>=1000000:
    print ("Tax more than %.2f "%(sal))
    tax=30/100
elif sal>=500000:
    print("Tax more than %.2f but less than 1000000" % (sal))
    tax = 20 / 100
else:
    print("Tax more than %.2f but less than 500000" % (sal))
    tax = 10 / 100
taxAmount = sal * tax;
print("Net tax for salary %.2f is %.2f" % (sal, taxAmount))

Enter salary 200000
tax more than 200000.00 but less than 500000
net tax for salary 200000.00 is 20000.00