# Simple Example

In [10]:
a=1+2 == 3
print(a)

True

In [14]:
~~~~~~5

5

In [8]:
print("Hello")

Hello

In [7]:
print("guru")
print("samy")
print("hello")

guru
samy
hello

# Arithmatic opetions

In [21]:
2+1

2.5

In [23]:
1-2

-1

In [24]:
5/2

2.5

In [25]:
5%2

1

In [26]:
5//2

2

In [19]:
a=3**3*2
print(a)

54

In [27]:
5**3

125

In [28]:
1**1**3

1

In [29]:
2+3*4/2

8.0

In [30]:
(22+3)/(12+2)**3

0.009110787172011662

In [31]:
1_000_000_000_000_000

1000000000000000

# Assingment operator

In [33]:
a= 3
a

3

In [34]:
a="guru"
a

'guru'

In [36]:
a="guru"
b = "3"
c = a+b
c

'guru3'

In [37]:
a=3
b=5.0
c = a+b
c

8.0

In [40]:
c='print1'
d="print2"
e = c+d
e
f = c==d
print(f)

False

# Calculate Person income tax

In [49]:
person_income  = 100000
tex_value = 20
result_tax = person_income * (tex_value/100)
print("Tax :" + str(result_tax))

Tax :20000.0

# Exponetial No

In [50]:
pi=3.14
ra = 5
area = pi*ra**2
print(area)

78.5

# Rounding the number

In [52]:
round(5/3,2)

1.67

# datatype convertion

In [58]:
print(int(round(40/3,2)))
print(float(round(40/3,2)))
a=20
print(a.real)

13
13.33
20

# Comments

In [59]:
# for single line
''' for multiline 
comments '''

' for multiline \ncomments'

# Escaping

In [62]:
a='I don\'t like'
print(a)
b="I don\'t like"
print(a)

I don't like
I don't like

# Concadination

In [64]:
a="one"
b="two"
print(a+b)
print(a + "_" + b)

onetwo
one_two

# formated strings

In [82]:
name="guru"
age=29
print("My Name:{one} and my age is {two}".format(one=name,two=age))
print("My Name:{} and my age is {}".format(name,age))
print("My Name:{0} and my age is {1}".format(name,age))

My Name:guru and my age is 29
My Name:guru and my age is 29
My Name:guru and my age is 29

In [88]:
print("hello "*3)
print(100 * "hello" + "\n the End")

hello hello hello
hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello
 the End

In [167]:
mystring = 13.3256
print('%s'%(mystring))

13.3256

# Methods & Functions

In [100]:
print("guru".upper())
print(len("hello world"))
print("My name is guru".replace("guru","samy"))
mystring = "My name is guru \n" * 10
print(mystring.replace("guru","samy"))

GURU
11
My name is samy
My name is samy
My name is samy
My name is samy
My name is samy
My name is samy
My name is samy
My name is samy
My name is samy
My name is samy
My name is samy

In [113]:
mystring = "Hi Guru"
print(mystring.count("U"))

0

In [125]:
mystring = "Hi Guru Hi"
print(mystring.capitalize())
print(mystring.casefold())
print(mystring.center(3))
print(mystring.split())

Hi guru hi
hi guru hi
Hi Guru Hi
['Hi', 'Guru', 'Hi']

# Comparision Operator

In [134]:
print(a==a)
print(2>=3)
print(2<=3)
print(2!=3)
print(2<3)
print(2>3)

True
False
True
True
True
False

# logical operator

In [138]:
print(2==2 and 2==3)
print(2==2 or 2==3)

False
True

# Accepting User Input

In [142]:
a  = input("Enter your input")
print("Your Input:",a)

Enter your input23
Your Input: 23

In [147]:
pi=3.14
ra = input("Enter your radius")
ra1 = input("Enter your radius")
ra2 = input("Enter your radius")
area = pi*int(ra)**2
print(str(area))
area = pi*int(ra1)**2
print(str(area))
area = pi*int(ra2)**2
print(str(area))

Enter your radius2
Enter your radius3
Enter your radius5
12.56
28.26
78.5

In [150]:
person_income  = input("Enter the person income")
tax_value = input("Enter the tax percentage")
result_tax = int(person_income) * (int(tex_value)/100)
print("Tax :" + str(result_tax))

Enter the person income10000
Enter the tax percentage10
Tax :2000.0

# Index Positions

In [172]:
a="Hello Guru"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[-2])
print(a[-1])

H
e
l
l
o
r
u

In [180]:
a="Hello Guru"
print(a[2:])
print(a[:3])
print(a[:-3])
print(a[-4:])

llo Guru
Hel
Hello G
Guru

In [182]:
a="Hello world"
print(a[:5])
print(a[6:11])

Hello
world

# Check

In [187]:
a= "hello"
print(a.isupper())
print(a.islower())
print(a.isalpha())
print(a.isdigit())

False
True
True
False

# Collections(list,map,dictionary,set,tuple)

In [10]:
# list

a = ["a","we",5,2.5]
print(a[0]) # print the 0 index
b= [1,a]
print(b)
c = [2,3,4,2,b]
print(c)
print(c[4])
print(c[4][1])

#append list

e = [1,2,4]
f = e + [5]
print(f)

f.append(6)
print(f)


#reverse
a = [1,3,4,5,6,7,8]
a.reverse()
print(a)

#change value
a[0] = "new"
print(a)

a
[1, ['a', 'we', 5, 2.5]]
[2, 3, 4, 2, [1, ['a', 'we', 5, 2.5]]]
[1, ['a', 'we', 5, 2.5]]
['a', 'we', 5, 2.5]
[1, 2, 4, 5]
[1, 2, 4, 5, 6]
[8, 7, 6, 5, 4, 3, 1]
['new', 7, 6, 5, 4, 3, 1]

In [214]:
# dictionary (key and value pair)

a = {1:'Guru',2:'Samy'}
print(a[1])
print(a[2])
b = {1:[1,2,3]}
print(b[1][1])

Guru
Samy
2

In [17]:
# tuple
a=(1,2,3,4,5,6)
print(a[1])

# a[0] = new --- wont work
print(a)

#cant reassign the value

#max
print(max(a))

#min
print(min(a))

#addition on the tuple
a=(1,2,3)
b=(4,5,6)
print(a+b)

# checking the value
print(3 in a) #--true
print(4 in a) #--false

2
(1, 2, 3, 4, 5, 6)
6
1
(1, 2, 3, 4, 5, 6)
True
False

In [32]:
#set - it is an unordered set of distinct elements

a = {1,2,3,4,5}
print(len(a))
print(max(a))
print(min(a))
b = {6,7}
a.update(b)
print(a)
c = {1,1,1,1,2,2,2,2}
print(c) #---set wont allow duplicate, will display distinct
c.pop()
print(c)

# create empty set
d=set()
d.add(1)
d.add(2)
print(d)

5
5
1
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{2}
{1, 2}

# loops & statements

In [47]:
# if statement

a=10
if(a>5):
 print(10)
else:
 print(5)

# else if statement(nested condition)

if(a<5):
    print("ok")
elif(a==10):
    print("Ok ok")
else:
    print("Not Okay")
    
# tax calculation based on the condition

person_salary = int(input("Enter the person salary  :  "))
if(person_salary >= 10000 and person_salary <= 20000):
    print("Tax Value : " + str(person_salary * (3/100)))
    print("Net Value : " + str(person_salary - (person_salary * (3/100))))
elif(person_salary >= 20001 and person_salary <= 30000):
    print("Tax Value : " + str(person_salary * (5/100))) 
    print("Net Value : " + str(person_salary - (person_salary * (5/100))))
elif(person_salary >= 30001 and person_salary <= 40000):
    print("Tax Value : " + str(person_salary * (10/100)))
    print("Net Value : " + str(person_salary - (person_salary * (10/100))))
elif(person_salary >= 40001 and person_salary <= 50000):
    print("Tax Value : " + str(person_salary * (20/100)))
    print("Net Value : " + str(person_salary - (person_salary * (20/100))))
else:
    print("You have enter wrong amount")

10
Ok ok
Enter the person salary  :  12365
Tax Value : 370.95
Net Value : 11994.05

In [48]:

stu_mark: int = int(input("Enter the mark  :  "))
if 90 <= stu_mark <= 100:
    print("Grade : A+")
elif 80 <= stu_mark <= 89:
    print("Grade : A")
elif 70 <= stu_mark <= 79:
    print("Grade : B")
elif 60 <= stu_mark <= 69:
    print("Grade : C")
else:
    print("Fail")

Enter the mark  :  86
Grade : A

In [49]:
# EMI Calculator - Simple interest

la: float = float(input("Enter loan Amount : "))  # ---Loan amount details
roi: float = float(input("Enter rate of interest : "))
lp: float = float(input("Enter loan period : "))
roipercentage: float = float(roi/100)
calsimint: float = float((la*roipercentage*lp)/100)
addval: float = float(1.0+roipercentage)
calcomint: float = la*(addval**lp)
totpayamt: float = la+calsimint
comtotpayamt: float = la+calcomint
emi: float = totpayamt/lp    
print(" SIMPLE INTEREST - EMI : " + str(emi))
print(" COMPOUND INTEREST - EMI : " + str(comtotpayamt/lp))

Enter loan Amount : 10000
Enter rate of interest : 10
Enter loan period : 10
 SIMPLE INTEREST - EMI : 1010.0
 COMPOUND INTEREST - EMI : 3593.742460100002

In [50]:
var = int(input("Enter the number : "))
for i in range(var):
    print(i)

Enter the number : 10
0
1
2
3
4
5
6
7
8
9

In [51]:
var2 = int(input("Enter the number : "))
var1 = 1
while(var1 <= var2):
    print('*' * var1)
    var1 = var1+1

Enter the number : 10
*
**
***
****
*****
******
*******
********
*********
**********

In [52]:
num1 = int(input("Enter the value - 1:"))
num2 = int(input("Enter the value - 2:"))


def addition(a, b):
    c: int = a + b
    return c


print(addition(num1, num2))

Enter the value - 1:10
Enter the value - 2:20
30

In [17]:
# print odd number
a = int(input("Enter the number : "))
b=1
try:
    if(a>=0):
        while(b<=a):
            if(b%2==1):
                print(b)            
            b=b+1
    else:
        print("Please enter valid number...!")
except Exception:
    print(Exception)

Enter the number : 10
1
3
5
7
9

# lambda functions

In [21]:
sum = lambda num1,num2:num1+num2
print("The sum value of 10 and 20 is ",sum(10,20))

The sum value of 10 and 20 is  30