# Python Day1

In [2]:
print('Hello World!')

Hello World!

## Mathematical Operators

In [5]:
2 + 4

6

In [6]:
4 - 3

1

In [12]:
4 * 5

20

In [13]:
5 / 2

2.5

In [22]:
5 % 2

1

In [29]:
5 // 2

2

In [30]:
5 ** 2

25

In [31]:
5 ** 3

125

In [32]:
3 ** 5 # second operand is the power. First operand is the base. So this is 3 raised to the power 5.

243

In [33]:
2 * 3 / 4

1.5

In [37]:
(3 * 2)/3+3-3

2.0

In [38]:
6 - (3 ** 2)/8

4.875

In [39]:
9/8

1.125

In [40]:
6 - 1.125

4.875

In [41]:
print(5 * (2 // 3))

0

In [42]:
2 // 3

0

In [44]:
#5 /(2//4) # Gives zero division error..

In [45]:
3.0/2

1.5

In [46]:
4/2

2.0

## Variable assignments

In [47]:
a = 2

In [48]:
a

2

In [49]:
2 == a

True

In [50]:
3 != a

True

In [51]:
2 != a

False

In [52]:
a + 2

4

In [53]:
b = a << 2

In [54]:
b

8

In [55]:
b = 5.0

In [56]:
a +b # implicit type conversion

7.0

In [57]:
c = 5

In [58]:
c /2

2.5

In [59]:
c + 2

7

In [60]:
a + c

7

In [61]:
12 / 3

4.0

In [62]:
12 // 4

3

In [63]:
12 // 3.3 #type conversion

3.0

In [64]:
12 // 2.0

6.0

In [74]:
#12 // 2.0 <<3 # bitwise operator is not allowed for floar

In [67]:
(12 //2) <<3 #shifting operator

48

In [71]:
12 //(2 << 3) # 0 because 2 << 3 makes it 16, 12 // 16 = 0

0

In [72]:
2 << 3

16

In [73]:
12 / (2 << 3)

0.75

### String assignments

In [75]:
c = 'String'

In [76]:
c

'String'

In [77]:
c = "Hello World!"

In [78]:
c

'Hello World!'

In [79]:
d = 'Hello World!'

In [80]:
d

'Hello World!'

In [81]:
print(d)

Hello World!

In [82]:
# single and double quotes mean the same thing in python

In [83]:
c = 55555555555555555555555555555555555555555555555.55555555555555555555555555555555555555555555555

In [84]:
c

5.555555555555556e+46

In [85]:
name = "manish" + 'sharma'

In [86]:
name

'manishsharma'

In [87]:
print(name)

manishsharma

In [89]:
# it works fine even if we use both the quotes, single and double

In [90]:
person_income = 10000
tax = person_income * 10 /100

In [91]:
tax

1000.0

In [92]:
print(tax)

1000.0

## Using user interaction

In [101]:
ques = "enter your income "
income = input(ques)
print("tax ={}".format(float(income) * 0.10))

enter your income1000
tax =100.0

In [116]:
base = input("Enter base ") # we'll assume equilateral triangle
height = input("Enter height ")
area_of_triangle = 0.5 * int(base)*int(height)
print("area of triangle = {}".format(area_of_triangle))

Enter base 10
Enter height 10
area of triangle = 50.0

In [117]:
a = 5 / 3

In [118]:
round(a,2) # rounding the decimal part.

1.67

## working with quotes

In [121]:
mystory = "I don't like to eat cheese"

In [122]:
mystory

"I don't like to eat cheese"

In [123]:
mystory2 = 'I don't like to eat cheese'

SyntaxError: invalid syntax (<ipython-input-123-53a8947bedf1>, line 1)

In [124]:
mystory = "I dont like to eat "cheese""

SyntaxError: invalid syntax (<ipython-input-124-11506ae12eb5>, line 1)

In [125]:
mystory = "I dont like to eat \"cheese\""

In [126]:
mystory

'I dont like to eat "cheese"'

In [127]:
mystory = 'I don\'t like to eat cheese'

In [128]:
mystory

"I don't like to eat cheese"

In [129]:
quote = "My friend doesnot like to eat cheese"

## Concaternation

In [130]:
fName = "Manish"
lName = "Sharma"

In [131]:
name = fName + lName

In [132]:
name

'ManishSharma'

In [133]:
print(name)

ManishSharma

In [134]:
name = fName +" "+lName

In [135]:
name

'Manish Sharma'

In [136]:
print(name)

Manish Sharma

In [137]:
print(a+b)

6.666666666666667

In [138]:
print(fName+lName)

ManishSharma

## Formatted Output

In [139]:
name = 'Manish'
age = 24

print('My name is {one} and i\'m {two} years old'.format(one=name, two = age))

My name is Manish and i'm 24 years old

In [140]:
print("My first name is {} and last name is {}".format(fName,lName))

My first name is Manish and last name is Sharma

In [141]:
print(3 * 'Hello')

HelloHelloHello

In [142]:

print(3 * "Hello ")

Hello Hello Hello

In [144]:
print(300 * "Hello "+"\nThe End")

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
The End

In [148]:
print("Hello "*int(3.0))

Hello Hello Hello

In [166]:
print("Hi there, "+"How you doin.."*0) # multiply with 0 and the test goes missing

Hi there,

In [167]:
name = "manish "+"sharma"
print(name)

manish sharma

In [168]:
"manish".upper()

'MANISH'

In [169]:
"manish ".upper() * 2

'MANISH MANISH '

In [165]:
"Hi, My name is manish".replace("manish","Manish")

'Hi, My name is Manish'

In [170]:
name = "Manish"+"Sharma"*0
len(name)

6

In [179]:
name = "Manish Sharma \n"*20

In [180]:
print(name)

Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma

In [183]:
name.split(" ")

['Manish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\nManish',
 'Sharma',
 '\n']

In [185]:
print(name[0])

M

In [186]:
print(name[::])

Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma
Manish Sharma

In [187]:
name.split() # creates an array of elements

['Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma',
 'Manish',
 'Sharma']

In [188]:
abc = "Hello World! I'm learning python"

In [189]:
abc.split()

['Hello', 'World!', "I'm", 'learning', 'python']

In [190]:
2 == 2.0

True

In [191]:
2 > 3/4

True

In [192]:
3 < 3/4

False

In [193]:
a = "Hello"
b = "hello"
a.upper() == b.upper()

True

In [195]:
2 != 2

False

In [199]:
(2 == 3) or (4 > 3)

True

In [200]:
(3 == 3) and (4 > 3)

True

## Taking user input

In [202]:
age = input("How old are you? ")
print("Your age is {}".format(age))

How old are you? 23
Your age is 23

In [209]:
radius = input("Enter radius ")
pi2 = float(input("Enter PI "))
pi = 3.14
print("area of the circle1 is {}".format(pi*int(radius)**2))
print("area of the circle2 is {}".format(pi2*int(radius)**2))

Enter radius 12
Enter PI 3.14159
area of the circle1 is 452.16
area of the circle2 is 452.38896

In [210]:
# ask salary of an employee and ask the tax slab-> calculate and print net salary as well as tax amount

salary = int(input("What is your salary? "))
tax_slab = int(input("What is your tax margin? "))
print("The tax is {}".format(salary * tax_slab/100))
print("The net salary is {}".format(salary - (salary*tax_slab)/100))

What is your salary? 10000
What is your tax margin? 5
The tax is 500.0
The net salary is 9500.0

In [211]:
# area of the traingle - s = (a+b+c)/2; area = sqrt(s(s-a)(s-b)(s-c))

In [215]:

a = int(input("Enter side a "))
b = int(input("Enter side b"))
c = int(input("Enter side c"))

s = (a+b+c)/2 # semi perimeter
area = (s*(s-a)*(s-b)*(s-c))**(1/2)
print("Area of the traingle is {}".format(area))

Enter side a 12
Enter side b14
Enter side c17
Area of the traingle is 83.0267276243018

In [219]:
f_num = 12.234334
print("Here is the number %s" %(f_num))

Here is the number 12.234334

In [224]:
num = str(234)
print("Here is the number ",num)

Here is the number  234

In [225]:
var1 = 3
print('Value of var1 is %d'%var1)

Value of var1 is 3

In [226]:
num1 = 10
num2 = 20
print("The adition of %s and %s is %s"%(num1, num2, num1+num2))

The adition of 10 and 20 is 30

In [232]:
print("ALone we can\t Do so little;\t Together we can \t Do so much")

ALone we can	 Do so little;	 Together we can 	 Do so much

In [234]:
var = "Hello World"
var[::-1]

'dlroW olleH'

In [235]:
var[0]

'H'

In [236]:
var[-1]

'd'

In [237]:
var[-5]

'W'

In [238]:
var[-2]

'l'

In [239]:
print(var[-2])

l

## from left to right, 0..., from right to left -1,-2,...

In [240]:
var[:]

'Hello World'

In [241]:
print(var[2:]) # everything from 3rd character

llo World

In [242]:
print(var[:-3]) # everything from beginning except last 3 characters

Hello Wo

In [249]:
print(var[-12:-1])

Hello Worl

In [253]:
var[:5] # upper boundary in excluded

'Hello'

In [254]:
var[5:]  # lower boundary is included

' World'

In [255]:
var[6:11]

'World'

In [256]:
var.islower()

False

In [257]:
var.isalpha()

False

In [260]:
var = '5'
var.isdigit()

True

In [261]:
var = 'five'
var.isdigit()

False

In [262]:
var = 'hello world'
var.islower()

True

In [264]:
var.upper().islower()

False

In [265]:
var.lower().islower()

True

In [266]:
var.upper().isupper()

True

## Collections

In [267]:
# List

list = [1,2,3]

In [268]:
list

[1, 2, 3]

In [269]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [270]:
z = ['one','two',5]

In [271]:
z

['one', 'two', 5]

In [272]:
y = [1,2,3,4,z]

In [274]:
y

[1, 2, 3, 4, ['one', 'two', 5]]

In [275]:
y[4]

['one', 'two', 5]

In [278]:
y[4][1]

'two'

In [280]:
print(y[4][1:])

['two', 5]

In [282]:
print(y[4][1])

two

In [285]:
print(y[4][-3:])

['one', 'two', 5]

In [286]:
y[0] = 'one'

In [287]:
print(y)

['one', 2, 3, 4, ['one', 'two', 5]]

In [288]:
print(y[0][1:])

ne

In [289]:
print(y[0][-3:])

one

In [291]:
print(y[0][:-1])

on

### Dictionary

In [293]:
## starts with the {key:value} - can contain multiple list and tuples
{1: "Ram"}

{1: 'Ram'}

In [294]:
d = {1:"Ram"}

In [295]:
d

{1: 'Ram'}

In [300]:
d[1]
d = {0:'Python'}

In [301]:
d[0]

'Python'

In [302]:
print(d[0])

Python

In [324]:
d = {1,'Ram'},{2,'Krishna'}

In [330]:
d

({1, 'Ram'}, {2, 'Krishna'})

In [307]:
y = {'x':[1,2,3]}

In [313]:
y['x'][1]

2

In [315]:
y.get('x')

[1, 2, 3]

In [316]:
y.get('x')[1]

2

In [331]:
my_list = ['one','two','three','four']
my_list = my_list+['extra']
print(my_list)

['one', 'two', 'three', 'four', 'extra']

In [332]:
print(my_list*2)

['one', 'two', 'three', 'four', 'extra', 'one', 'two', 'three', 'four', 'extra']

In [333]:
my_list.append('seven')

In [334]:
my_list

['one', 'two', 'three', 'four', 'extra', 'seven']

In [336]:
my_list.append('5')

In [337]:
print(my_list)

['one', 'two', 'three', 'four', 'extra', 'seven', '5']

In [343]:
my_list.pop(5)

'two'

In [344]:
my_list

['5', 'seven', 'extra', 'four', 'three', 'one']

In [345]:
my_list.sort()

In [346]:
my_list

['5', 'extra', 'four', 'one', 'seven', 'three']

In [347]:
print(my_list.sort())

None

In [348]:
print(sorted(my_list))

['5', 'extra', 'four', 'one', 'seven', 'three']

In [350]:
print(reversed(my_list))

<list_reverseiterator object at 0x0000020C9957FB70>

In [351]:
my_list

['5', 'extra', 'four', 'one', 'seven', 'three']

In [352]:
my_list.reverse()

In [353]:
print(my_list)

['three', 'seven', 'one', 'four', 'extra', '5']

In [356]:
print(my_list.reverse())

None

In [357]:
print(my_list.sort())

None

In [358]:
print(sorted(my_list))

['5', 'extra', 'four', 'one', 'seven', 'three']

In [360]:
print(my_list[::-1])

['three', 'seven', 'one', 'four', 'extra', '5']

### Tuples

In [375]:
tuple1 = (1,2,3,4,5)

In [364]:
tuple1

(1, 2, 3, 4, 5)

In [366]:
len(tuple1)

5

In [367]:
tuple1[0] = 2

TypeError: 'tuple' object does not support item assignment

In [369]:
max(tuple1)

5

In [370]:
min(tuple1)

1

In [372]:
3 in tuple1

True

In [377]:
tuple1

(1, 2, 3, 4, 5)

In [378]:
tuple2 = (2,3,4,5,6)

In [379]:
print(tuple1+ tuple2)

(1, 2, 3, 4, 5, 2, 3, 4, 5, 6)

### Set

In [380]:
set1 = {1,2,3}

In [381]:
set

set

In [382]:
set1

{1, 2, 3}

In [383]:
len(set1)

3

In [384]:
2 in set1

True

In [385]:
max(set1)

3

In [386]:
min(set1)

1

In [387]:
0 in set1

False

In [388]:
set1 = {1,2,3}

In [389]:
set2 = {4,5}

In [390]:
set1.update(set2)

In [391]:
set1

{1, 2, 3, 4, 5}

In [394]:
set1 - set2

{1, 2, 3}

In [395]:
## append will not work here, we use update here

In [396]:
set1.union(set2)

{1, 2, 3, 4, 5}

In [397]:
set1.difference(set2)

{1, 2, 3}

In [399]:
set1

{1, 2, 3, 4, 5}

In [400]:
x = set()

In [403]:
x.add(1)

In [404]:
x

{1}

In [405]:
x.add(1)

In [406]:
x

{1}

In [407]:
1 in x

True

In [408]:
x.add(2)

## Conditional - Control Statement

In [409]:
a = 10
if a >5 :
    print("a is greater than 5")
else:
    print("a is smaller than 5")

a is greater than 5

In [412]:
a = 2
if a > 10:
    print("a is greater than 10")
elif a > 5:
    print("a is greater than 5")
else:
    print("a is smaller than 5")

a is smaller than 5

In [413]:
loc = "Bank"
if loc == "Auto Shop":
    print("Welcome to auto shop")
elif loc == "Bank":
    print("Welcome to bank")
else:
    print("Where are you?")

Welcome to bank

In [424]:
salary = int(input("Enter your salary"))
if 10000 <= salary < 20000:
    tax_slab = 3
elif 20000 <= salary < 30000:
    tax_slab = 5
elif 30000 <= salary < 50000:
    tax_slab = 10
else:
    tax_slab = 20
tax = salary * tax_slab/100
print("tax is {}".format(tax))
print("net salary is {}".format(salary - tax))

Enter your salary56000
tax is 11200.0
net salary is 44800.0

## Loops

In [426]:
var = int(input("ENter number you want to print from zero"))
for i in range(0,var):
    print(i)

ENter number you want to print from zero20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [427]:
var = 10
while(var != 0 ):
    print("*"*var)
    var = var -1

**********
*********
********
*******
******
*****
****
***
**
*

In [434]:
var = 1
while (var != 10):
    print("*"*var)
    var = var +1

*
**
***
****
*****
******
*******
********
*********

In [435]:
a = int(input("Enter the value of a"))
b = int(input("Enter the value of b"))

def addition(a,b):
    return a+b

sum1 =  addition(a,b)
print("The additionof {} and {} is {}".format(a,b,sum1))

Enter the value of a12
Enter the value of b12
The additionof 12 and 12 is 24

In [1]:
mydict = {"key1":"Value1"}

In [2]:
print(mydict)

{'key1': 'Value1'}

In [24]:
try:
    num = int(input("Enter a number "))
    if num > 0:
        l = range(1,num,2)
        for i in l:
            print(i)
    else:
        print("Negative number")
except ValueError:
    print("Invalid Input")

Enter a number 12
1
3
5
7
9
11

In [29]:
# try:
#     num = int(input("Enter a number "))
#     count = 0
#     if num > 0:
#         for i in num:
#             if num % i == 0:
#                 count = count + 1
#         if count < 3:
#             print("prime number")
#         else:
#             print("not a prime")
#     else:
#         print("Negative number")
# except ValueError:
#     print("Invalid Input")

In [30]:
# MENU driver programs - calculations