In [1]:
g=9

In [2]:
g

9

In [3]:
age=input("enter your age")

enter your age34

In [7]:
pi=3.14
radius=int(input("enter your radius"))
area=pi*radius*2
print(area)

enter your radius6
37.68

In [9]:
netincome=int(input("enter your salary"))
tax=(netincome*10)/100
print("netincome:"+netincome)
print("tax"+tax)

enter your salary2500

TypeError: must be str, not int

In [21]:
salary=int(input("enter your salary"))
tax=(salary*10)/100
print('tax={}'.format(tax))
Netincome=salary-tax
print('Netincome:{}'.format(Netincome))

enter your salary2500
tax=250.0
Netincome:2250.0

In [22]:
s='my name is abc'
print(%s)

SyntaxError: invalid syntax (<ipython-input-22-81356598926b>, line 2)

In [32]:
a=15451
print("here %f"%(a))

here 15451.000000

In [34]:
a=19
b=1
print('the addition of %s and %s is %s'%(a,b,a+b))

the addition of 19 and 1 is 20

In [41]:
a=1
print('addition %s'%a)

addition 1

array working

In [46]:
a="hello world"
print(a[-1])

d

In [61]:
b="helloworld"
print(b[5:])

world

In [67]:
b.count("l")

3

In [70]:
b.capitalize()

'Helloworld'

In [71]:
b.find(e)

NameError: name 'e' is not defined

In [72]:
b.find('e')

1

In [73]:
b.expandtabs()

'helloworld'

In [74]:
b.format()

'helloworld'

In [77]:
list= {1,2,'hi'}

In [78]:
list

{1, 2, 'hi'}

In [79]:
b=[list,1]

In [80]:
b

[{1, 2, 'hi'}, 1]

In [81]:
list[1]

TypeError: 'set' object does not support indexing

In [82]:
b[1]

1

In [83]:
b[0]

{1, 2, 'hi'}

In [84]:
b[:2]

[{1, 2, 'hi'}, 1]

In [85]:
b[2:]

[]

In [88]:
b[1]=6

In [89]:
b

[{1, 2, 'hi'}, 6]

In [92]:
b[1][0]

TypeError: 'int' object is not subscriptable

In [95]:
D1={1:"key",2:"name"}

D1

In [98]:
D1[2][1]

'a'

In [101]:
D1={1:"key",4:"name"}

In [103]:
D1[4][2]

'm'

In [104]:
list

{1, 2, 'hi'}

In [105]:
b

[{1, 2, 'hi'}, 6]

In [108]:
b=b+['hi']

In [109]:
b

[{1, 2, 'hi'}, 6, 'hi']

In [110]:
b.pop(0)

{1, 2, 'hi'}

In [111]:
b.append('hello')

In [112]:
b

[6, 'hi', 'hello']

In [113]:
b.reverse()

In [114]:
b

['hello', 'hi', 6]

In [115]:
b.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [116]:
b[2]

6

In [117]:
b[2]='6'

In [118]:
b

['hello', 'hi', '6']

In [119]:
b.sort()

In [120]:
b

['6', 'hello', 'hi']

In [122]:
b.insert(3,'bye')

In [123]:
b

['6', 'hello', 'hi', 'bye']

In [124]:
tup1=(2,1,3,4)

In [125]:
tup1

(2, 1, 3, 4)

In [128]:
tup1[2]=9

TypeError: 'tuple' object does not support item assignment

In [129]:
tup1

(2, 1, 3, 4)

In [130]:
max(tup1)

4

In [131]:
tup2=(3,6,7)

In [132]:
tup3=tup1+tup2

In [133]:
tup3

(2, 1, 3, 4, 3, 6, 7)

In [134]:
6 in tup3

True

In [135]:
set1={1,2,3,1,4,5,1}

In [136]:
set1

{1, 2, 3, 4, 5}

In [137]:
set2={9,8}

In [138]:
set2

{8, 9}

In [139]:
set1.update(set2)

In [140]:
set1

{1, 2, 3, 4, 5, 8, 9}

In [141]:
v=set()

In [142]:
v.add(3)

In [143]:
v

{3}

In [144]:
v.insert(2)

AttributeError: 'set' object has no attribute 'insert'

In [146]:
v.intersection()

{3}

In [162]:
if 1>2: 
    print("hi") 
elif 3<4:
    print("hello")
else: 
    print("bye")

hello

In [180]:
salary=int(input("enter your salary"))
if 10000<salary<=20000:
    tax=(salary*3)/100
elif 21000<salary<30000:
    tax=(salary*5)/100 
elif 31000<salary<50000:
    tax=(salary*10)/100 
else:
    tax=(salary*20)/100 
print("Tax paid={}".format(tax)) 
print("NetIncome={}".format(salary-tax))

enter your salary35000
Tax paid=3500.0
NetIncome=31500.0

In [174]:
tax

500.0

In [175]:
salary

2500

In [ ]:

try:
      a = int(input("Enter a positive integer until where you want to know even numbers: "))
      if a <= 0:
          raise ValueError("That is not a positive number!")
except ValueError as ve:
     print(ve)
else:
     while(a>0):
            if (a%2==0):
                print(a)
            a=a-1