In [1]:
print("hello")

hello

first program in python

In [6]:
print("hello");
print("world");

hello
world

In [7]:
2+4

6

In [8]:
4*5

20

In [9]:
5/2

2.5

In [10]:
5//2

2

In [11]:
5%2

1

In [12]:
2**3

8

In [13]:
5***2

SyntaxError: invalid syntax (<ipython-input-13-a9abe80005c1>, line 1)

In [14]:
4+5**2*3

79

In [16]:
(4++55)**9

8662995818654939

In [17]:
59**9

8662995818654939

In [18]:
11**11

285311670611

In [19]:
6/8

0.75

In [20]:
9/8

1.125

In [21]:
-1/0

ZeroDivisionError: division by zero

In [22]:
0/-1

-0.0

In [23]:
5/-1

-5.0

In [24]:
a=2.0

In [25]:
b=5

In [26]:
a+b

7.0

In [27]:
a=2

In [28]:
a+b

7

In [29]:
c=8.999

In [30]:
a+C

NameError: name 'C' is not defined

In [31]:
a+c

10.999

In [32]:
a="my name is siva"

In [33]:
a+c

TypeError: must be str, not float

In [34]:
c="good"

In [35]:
a+c

'my name is sivagood'

In [36]:
a+" "+c

'my name is siva good'

In [37]:
d='scoiete genral'

In [38]:
d

'scoiete genral'

In [39]:
print(d)

scoiete genral

In [40]:
d+c

'scoiete genralgood'

caleculating the Tax on your prinicipal amount

In [53]:
print("enter your salary")
income=input()
tax=int(income)*0.1
print(tax)

enter your salary
100
10.0

In [54]:
round(3.5879,1)

3.6

In [55]:
round(3.4123,1)

3.4

In [56]:
a=5,b=2

SyntaxError: can't assign to literal (<ipython-input-56-9b0fc20a340f>, line 1)

In [57]:
a=5
b=2
c=a/b
round(c,3)

2.5

In [60]:
pi=3.14
radius=7
area=pi*radius**2
int(area)

153

In [62]:
mm='don\'t like to eat cheese'
mm

"don't like to eat cheese"

In [64]:
m1="i dont like to eat \"cheese\""
print(m1)

i dont like to eat "cheese"

In [68]:
a="siva"
b="adari"
c=a+" "+b
print(c)

siva adari

In [71]:
name="siva"
age=30
print('My Name: {one} and my age is{two}'.format(one=name,two=age))

My Name: siva and my age is30

In [72]:
name="siva"
age=30
print('My Name: {} and my age is {}'.format(age,name))

My Name: 30 and my age issiva

In [75]:
print(3*"Hello\n")

Hello
Hello
Hello

In [77]:
print(300*"hello"+"The End")

hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohelloThe End

In [81]:
"Siva".upper().lower()

'siva'

In [1]:
len('siva ')

5

In [80]:
"hi myname is adari".replace("adari","siva")

'hi myname is siva'

In [88]:
bob="my name is adari"
bob=bob.replace("adari","siva")
print("\n",bob*300)
bob.split()

 my name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is sivamy name is siva

['my', 'name', 'is', 'siva']

In [90]:
print(2>=3)

False

In [92]:
print("idea">="nokia")

False

In [94]:
print(2==3 and 2==2)

False

In [95]:
print(2==3 or 2==2)

True

In [98]:
age=input("enter your age")
print(age)

enter your age10
10

In [102]:
print("enter your age")
age=input()
print("your age:",age)

enter your age
10
your age: 10

In [107]:
print("Enter radius")
r=input()
area=int(3.14*int (r)**2)
print("Area of circle:",area)

Enter radius
7
Area of circle: 153

In [112]:
print("Enter salary of an Employee")
sal=input()
print("Ask tax slab")
slab=input()
tax=int(int(sal)*int(slab)/100)
print("Tax for an Employee:",tax)
print("Net salary of an employee:",(int(sal)-int(tax)))

Enter salary of an Employee
10000
Ask tax slab
20
Tax for an Employee: 2000
Net salary of an employee: 8000

In [117]:
var1=3
print("value of var1: %d"%var1)

value of var1: 3

In [119]:
var1=3
print("value of var1: %f"%(var1))

value of var1: 3.000000

In [120]:
print('alone we can \n do so little;\t together we can do \s so much')

alone we can
 do so little;	 together we can do \s so much

In [123]:
x="Hello world"
print("character in 5th position %s"%x[-5])

character in 5th position w

In [134]:
x="Hello world"
print("character in 5th position %s"%x[6:11])

character in 5th position world

In [137]:
var='six'
print ("%s"%(var.isalpha()))

True

In [139]:
['societeGeneral',2,3.0,54]

['societeGeneral', 2, 3.0, 54]

In [141]:
z=[1,2,3]
print("%s"%z[1])

2

In [142]:
z=[1,2,3]
print("%s"%z[1:])

[2, 3]

In [143]:
z=[1,2,3]
print("%s"%z[:1])

[1]

In [157]:
d={1:'ram'},{2:'raj'},{3,'nani'}
d[0:]

({1: 'ram'}, {2: 'raj'}, {3, 'nani'})

In [158]:
d=d+{5:'sita'}
d[0:]

TypeError: can only concatenate tuple (not "dict") to tuple

In [163]:
l=[1,"hi",123.0]
l=l+["addition to list"]
l.reverse()
l[0:]

['addition to list', 123.0, 'hi', 1]

In [167]:
l=[1,123.0,-16]
l.sort()
l[0:]

[-16, 1, 123.0]

In [2]:
tup1=(1,2,3)
tup1=tup1+(4,5,6)
print(min(tup1))
print(max(tup1))
print(len(tup1))

1
6
6

In [188]:
s1={1,1,2,3}
s1
s2={4,5,6,6}
s1.update(s2)
s1[5]

TypeError: 'set' object does not support indexing

In [194]:
x=set()
x.add(10)
x.add(100)
x.add("hi")
x

{10, 100, 'hi'}

In [204]:
a=int(input("enter value of a:"))
if(a>5):
    print("a greater than 5")
elif a<5:
    print(" a less than 5")
else:
    print(" a is equal to 5")

enter value of a:5
 a is equal to 5

In [209]:
print("Enter your salary")
sal=int(input())
if(sal>10000 and sal<20000):
    tax=3/100
elif(sal>21000 and sal<30000):
    tax=5/100
elif(sal>31000 and sal<50000):
    tax=10/100
elif(sal>=50000):
    tax=20/100
else:
    print("no tax slab")
print(tax)
total_tax=sal*float(tax)
print("total tax for employee",total_tax)

Enter your salary
17000
0.03
total tax for employee 510.0

In [210]:
print("Enter loan amount")
LAMT=int(input())
print("Rate of interest")
irt=float(input())
print("Enter time period in years")
tp=int(input())
SI=float((LAMT*irt*tp)/100)
print("Total payable amount")
print(float(LAMT)+SI)
CI=float(LAMT*(1+irt/100)**tp)
print("compound interest",CI)
print("Total Loan Amount",float(LAMT)+CI)

Enter loan amount
100
Rate of interest
8.3
Enter time period in years
10
Total payable amount
183.0
compound interest 221.96503426946305
Total Loan Amount 321.96503426946305

In [211]:
print("Enter marks scored")
rk=int(input())
if(rk>=90 and rk<=100):
    print("Grade is A+")
elif(rk>=80 and rk<=89):
    print("Grade is A")
elif(rk>=70 and rk<=79):
    print("Grade is B")
elif(rk>=60 and rk<=69):
    print("Grade is C")
else:
    print(" Failed")

Enter marks scored
55
 Failed